.create-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-service-form {
    margin: 50px;
    background: rgb(228, 226, 226);
    height: 75vh; 
    width: 25%;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
}

.service-input-field {
    margin-top: 5%;
    margin-left: 13%;
    /* margin-right: 13%; */
    text-align: center;
    border-radius: 15px;
    height: 50px;
    width: 75%;
    border: none;
}

.service-title {
    margin-top: 10%;
    margin-left: 12.5%;
    text-align: left;
}

.service-input-field:focus {
    /* border-color: #6d76f7; */
    outline-color: #6d76f7;
    outline-width: 1px;
}